target
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings
.DS_Store
*.bpmn/
node_modules/
bower_components/
coverage/i
.sass-cache/
.tmp/
**/*.iml
**/bower/components
/frontend/ui/nbproject/private/
start-env.bat
